<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Introdução ao VUE JS</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <h1 class="display-4">{{ msg }}</h1>
      <form action="">
        <div class="row">
          <div class="col">
            <h2>
              <small class="text-muted">Chave de Tradução</small>
            </h2>
            <textarea class="form-control" type="text" v-model="translate" placeholder="p. ex.: sys.celson.jhuanzito" @input="changeScript()"></textarea>
            <br />
            <h2>
              <small class="text-muted">Traduções</small>
            </h2>
            <div v-for="item in translateList" :key="item.id">
              <div class="dropdown-divider"></div>
              <span class="badge badge-primary">{{linesTranslationKey[item.id]}}</span>
              <div class="form-group">
                <label for="keyTranslatedPortuguese">{{ item.translate.portuguese.name }}</label>
                <input v-model="item.translate.portuguese.value" id="keyTranslatedPortuguese" v-bind:class="item.translate.portuguese.name" class="form-control" @input="changeScript()"
                  type="text">
              </div>
              <div class="form-group">
                <label for="keyTranslatedEnglish">{{ item.translate.english.name }}</label>
                <input v-model="item.translate.english.value" id="keyTranslatedEnglish" v-bind:class="item.translate.english.name" class="form-control" @input="changeScript()"
                  type="text">
              </div>
              <div class="form-group">
                <label for="keyTranslatedSpanish">{{ item.translate.spanish.name }}</label>
                <input v-model="item.translate.spanish.value" id="keyTranslatedSpanish" v-bind:class="item.translate.spanish.name" class="form-control" @input="changeScript()"
                  type="text">
              </div>
            </div>
          </div>
          <div v-if="verificaChavePreenchida() == true" class="col">
            <h2>
              <small class="text-muted">Script</small>
              </h3>
              <textarea v-on:focus="copyData('#textScript')" class="form-control" name="" id="textScript" cols="30" rows="10">
                            {{ queryString }}
                        </textarea>
          </div>
        </div>
      </form>
      <br />
    </div>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        msg: 'Vamos criar um script?',
        visivel: false,
        chaves: [
          {
            nome: 'Português',
            classe: 'portugues'
          },
          {
            nome: 'Inglês',
            classe: 'ingles'
          },
          {
            nome: 'Espanhol',
            classe: 'espanhol'
          }
        ],
        language: {
          brazilian: {id: 'pt-BR', checked: true},
          portuguese: {id: 'pt-PT', checked: true},
          american: {id: 'en-GB', checked: true},
          britsh: {id: 'en-US', checked: true},
          spanish: {id: 'es-UY', checked: true}
        },
        translationKey: "",
        keyTranslatedPortuguese: "",
        keyTranslatedEnglish: "",
        keyTranslatedSpanish: "",
        contadorLetras: 0,
        translateList: [],
        karine: "",
        scriptTranslationKeys: ""
      },
      methods: {
        copyData: function (elementId) {
          var script = document.querySelector(elementId);
          console.log(script);
          script.focus();
          script.select();
          document.execCommand('copy');

        },
        verificaChavePreenchida: function () {
          if (this.translationKey != "")
            return true;
          return false;
        },
        newTranslateList: function() {
          var newObject = {
            id: this.linesCounter-1,
            translate: {
              portuguese: {name: 'Português', value: ''}, 
              english:  {name: 'English', value: ''}, 
              spanish:  {name: 'Español', value: ''}
            }
          }          
          this.translateList.push(newObject);
        },
        changeScript: function() {
          var queryInicio = '\nBEGIN\n';

          var queryCorpo = '';
          var linesCounter = this.linesCounter;

          var linhas = this.translationKey.split(/\n/);

          var procedureName = "    PR_ATUALIZA_INT_MESSAGE('";
          var beforeTranslate = "', '";
          var afterTranslate = "', 'N');";
          for (var linha in linhas) {
            
            if (!linhas[linha]) return;
            
            if (this.translateList[linha].translate.portuguese.value) { queryCorpo += procedureName + this.language.brazilian.id + "', '" + linhas[linha] + beforeTranslate + this.translateList[linha].translate.portuguese.value + afterTranslate +'\n'; }
            if (this.translateList[linha].translate.portuguese.value) { queryCorpo += procedureName + this.language.portuguese.id + "', '" + linhas[linha] + beforeTranslate + this.translateList[linha].translate.portuguese.value + afterTranslate +'\n'; }
            if (this.translateList[linha].translate.english.value) { queryCorpo += procedureName + this.language.american.id + "', '" + linhas[linha] + beforeTranslate + this.translateList[linha].translate.english.value + afterTranslate +'\n'; }
            if (this.translateList[linha].translate.english.value) { queryCorpo += procedureName + this.language.britsh.id + "', '" + linhas[linha] + beforeTranslate + this.translateList[linha].translate.english.value + afterTranslate +'\n'; }
            if (this.translateList[linha].translate.spanish.value) { queryCorpo += procedureName + this.language.spanish.id + "', '" + linhas[linha] + beforeTranslate + this.translateList[linha].translate.spanish.value + afterTranslate +'\n'; }
          
          }
          var queryFim = 'COMMIT; \n' +
            'END;';

            this.scriptTranslationKeys = queryInicio + queryCorpo + queryFim;
        }
        
      },
      computed: {
        linesCounter: {
          get () {
            return this.translationKey.split(/\r\n|\r|\n/).length;
          }
        },
        linesTranslationKey: {
          get () {
            return this.translationKey.split(/\r\n|\r|\n/);
          }
        },
        translate: {
          get () {
            return this.translationKey;
          },
          set (value) {
            this.translationKey = value;
          }
        },
        queryString: {
          get () {
            return this.scriptTranslationKeys;
          }
        }
      },
      mounted () {
        this.newTranslateList();
      },
      watch: {
        linesCounter: function (newLinesCounter, oldLinesCounter) {
          console.log('new: ', newLinesCounter, ' old: ', oldLinesCounter);
          
          if (newLinesCounter > oldLinesCounter) {
            this.newTranslateList();
          }
          else {
            this.translateList.pop();
          }
        },
        translateList: {
          handler: function(newValue) {
                // console.log('test', newValue);
            },
            deep: true
        }
      }
    });

  </script>

</body>

</html>