<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Introdução ao VUE JS</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">

        <div class="container">

            <h1 class="display-4">{{ msg }}</h1>
            <p v-if="visivel">Ó, o if tá true! :o</p>
            <form action="">
                <div class="row">
                    <div class="col">
                        <h2>
                            <small class="text-muted">Chave de Tradução</small>
                        </h2>
                        <input class="form-control" type="text" v-model="chaveTraducao" placeholder="p. ex.: sys.celson.jhuanzito">
                        <!-- <span>{{ chaveTraducao }}</span> -->
                        <br />
                        <h2>
                            <small class="text-muted">Traduções</small>
                        </h2>
                        <div class="form-group">
                            <label for="chaveTraduzidaPortugues">{{ chaves[0].nome }}</label>
                            <input v-model="chaveTraduzidaPortugues" id="chaveTraduzidaPortugues" v-bind:class="chaves[0].classe" class="form-control"
                                type="text">
                        </div>
                        <div class="form-group">
                            <label for="chaveTraduzidaIngles">{{ chaves[1].nome }}</label>
                            <input v-model="chaveTraduzidaIngles" id="chaveTraduzidaIngles" v-bind:class="chaves[1].classe" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label for="chaveTraduzidaEspanhol">{{ chaves[2].nome }}</label>
                            <input v-model="chaveTraduzidaEspanhol" id="chaveTraduzidaEspanhol" v-bind:class="chaves[2].classe" class="form-control"
                                type="text">
                        </div>
                    </div>

                    <div v-if="chavePreenchida" class="col">
                        <h2>
                            <small class="text-muted">Script</small>
                            </h3>
                            <textarea v-on:focus="copiaDados('#textScript')" class="form-control" name="" id="textScript" cols="30" rows="10">
                            {{ traducoes }}
                        </textarea>
                    </div>
                </div>
            </form>
            <br />



        </div>


    </div>


    <script type="text/javascript">

        var app = new Vue({
            el: '#app',
            data: {
                msg: 'Vamos criar um script?',
                visivel: false,
                chaves: [
                    {
                        nome: 'Português',
                        classe: 'portugues'
                    },
                    {
                        nome: 'Inglês',
                        classe: 'ingles'
                    },
                    {
                        nome: 'Espanhol',
                        classe: 'espanhol'
                    }
                ],
                linguagem: [
                    'pt-BR',
                    'pt-PT',
                    'en-GB',
                    'en-US',
                    'es-UY'
                ],
                chaveTraducao: "",
                chaveTraduzidaPortugues: "",
                chaveTraduzidaIngles: "",
                chaveTraduzidaEspanhol: "",
                contadorLetras: 0,
                chavePreenchida: this.chaveTraducao != ""
            },
            methods: {
                usuarioClicou: function () {
                    this.clicou = !this.clicou;
                },
                copiaDados: function (elementId) {
                    var script = document.querySelector(elementId);
                    console.log(script);
                    script.focus();
                    script.select();
                    document.execCommand('copy');

                }
            },
            computed: {
                traducoes: function () {
                    var queryInicio = '\n' +
                        'BEGIN \n';

                    var queryCorpo = '';
                    var input = document.querySelectorAll('input');

                    for (var i = 0; i < this.linguagem.length; i++) {
                        var inputAtual = '';
                        if (i == 0 || i == 1) {

                            inputAtual = this.chaveTraduzidaPortugues;
                        }
                        else if (i == 2 || i == 3) {
                            if (input[2] != null)
                                inputAtual = this.chaveTraduzidaIngles;
                        }
                        else {
                            if (input[3] != null)
                                inputAtual = this.chaveTraduzidaEspanhol;
                        }

                        queryCorpo += "    PR_ATUALIZA_INT_MESSAGE('"
                            + this.linguagem[i] + "', '"
                            + this.chaveTraducao + "', '"
                            + inputAtual + "', '"
                            + "N'); \n"
                    }

                    var queryFim = '    COMMIT; \n' +
                        'END;';

                    return queryInicio + queryCorpo + queryFim;
                }
            }
        });

    </script>

</body>

</html>